export VERSPECDIR="${BUILDDIR}/VERSPECS"
export PRESPECDIR="${BUILDDIR}/PRESPECS"
export PRESCLDIR="${BUILDDIR}/PRESCLS"
export VERSCLDIR="${BUILDDIR}/VERSCLS"

mkdir -p  ${VERSPECDIR} >/dev/null 2>&1
mkdir -p  ${PRESPECDIR} >/dev/null 2>&1
mkdir -p  ${PRESCLDIR} >/dev/null 2>&1
mkdir -p  ${VERSCLDIR} >/dev/null 2>&1


export VERSPECFILE="${VERSPECDIR}/${NAME}-${VERSION}.verified.spec"
export PRESPECFILE="${PRESPECDIR}/${NAME}-${VERSION}.pre.spec"
export VERSCLFILE="${VERSCLDIR}/${NAME}-${VERSION}.verified.scl.spec"
export PRESCLFILE="${PRESCLDIR}/${NAME}-${VERSION}.pre.scl"

exit 0